NODE_ENV=development
PORT=5000
MONGODB_URI=
BETTER_AUTH_BASE_URL=
BETTER_AUTH_JWKS_URL=
FRONTEND_URL=http://localhost:3000
CORS_ORIGIN=http://localhost:3000
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
